.notification-message{

  background-color: red;
  border: 1px solid black;
  margin-top: 0.1em;

  .notification-content{
      padding: 0.2em;
  }

}

.countdown{
  height: 3px;
  background-color: blue;
}

// Auto clear countdown
// -------------------------

.countdown {
  bottom: 0;
  width: 0;
  height: 4px;
  animation: countdown-animation linear 1;
  -webkit-animation: countdown-animation linear 1;
}
