.notification-message{

  position: relative;
  overflow: hidden;
  background-color: red;
  border: 1px solid black;
  margin-top: 0.1em;
  cursor: default;

  .notification-content{
      padding: 10px 30px 10px 40px;
      height: 100%;
  }

  .message-icon{
    position: absolute;
    top: 25%;
    height: 100%;
    width: 30px;
    text-align: center;
    font-size: 12px;

    span{
      position: relative;
    }

    .fa-stack{
      //fix for FontAwesome stacked icons that are too large
      font-size: 12px;
    }
  }

  .close-icon{
    vertical-align: middle;
    opacity: 0.4;
    cursor: pointer;

    position: absolute;
    top: 25%;
    right: 10px;
    &:hover{
      opacity: 1;
    }
  }

  .message-text{
    vertical-align: middle;
  }

  .clickable-message{
    cursor: pointer;
  }

}

.countdown{
  height: 3px;
  background-color: blue;
  width: 0;
}

// Auto clear countdown
// -------------------------
//
// .countdown {
//   bottom: 0;
//   width: 0;
//   height: 4px;
//   animation: countdown-animation linear 1;
//   -webkit-animation: countdown-animation linear 1;
// }
