.notification-panel {
    position: fixed;
    top: 10px;
    right: 0;
    left: 0;
    z-index: 1060;
    width: 80%;
    max-width: 400px;
    margin: auto;
}
.notification-message {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    margin-top: 0.1em;
    cursor: default;
}
.notification-message .notification-content {
    padding: 10px 30px 10px 40px;
    height: 100%;
}
.notification-message .message-icon {
    position: absolute;
    top: 25%;
    height: 100%;
    width: 30px;
    text-align: center;
    font-size: 12px;
}
.notification-message .message-icon span {
    position: relative;
}
.notification-message .message-icon .fa-stack {
    font-size: 12px;
}
.notification-message .close-icon {
    vertical-align: middle;
    opacity: 0.4;
    cursor: pointer;
    position: absolute;
    top: 25%;
    right: 10px;
}
.notification-message .close-icon:hover {
    opacity: 1;
}
.notification-message .message-text {
    vertical-align: middle;
}
.notification-message .clickable-message {
    cursor: pointer;
}
.notification-message .countdown {
    height: 3px;
    background-color: blue;
    width: 0;
}
